{
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }]
  ],
  "env": {
    "esm": {
      "plugins": [
        ["babel-plugin-transform-rename-import", {
          replacements: [{ original: "lodash", replacement: "lodash-es" }]
        }]
      ]
    }
  }
}
